@font-face {
    font-family: plain light;
    src: url(plain-light-webfont.woff);
}
@font-face {
    font-family: silk;
    src: url(silkserif-lightitalic-webfont.woff);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: plain light;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#csr {
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    border: 1px solid white;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background: #030303;
    z-index: 999;
    padding: 25vh 25vh;
}
.line{
    height: fit-content;
    /* background: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#line-part1 h5 , #line-part1 h6 {
    font-family: silk;
    font-size: 3vw;
    font-weight: 100;
}
#line-part1 h5 {
    text-align: right;
    width: 4.5vw;
}
.line h1{
    font-size: 13vh;
    text-transform: uppercase;
    font-weight: 550;
}
.line h2{
    opacity: 0;
    font-size: 12vh;
    font-weight: 550;
    text-transform: uppercase;
    
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: plain light;
        -webkit-text-stroke: 1px white ;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: plain light;
        -webkit-text-stroke: 1px white ;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
/* #0B0B0B */
#main{
    position: relative;
    background: #292828;
}
#page1{
    height: 100vh;
    width: 100%;
    background: #151515;
}
#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.4vw 8.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-weight: 500;
    font-size: 1vw;
}
.hero{
    margin-left: 28%;
    width: 49%;
    height: fit-content;
    overflow: hidden;
    line-height: 7vw;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
.hero:nth-child(2){
    margin-top: 8.5vw;
}

.hero h1{
    font-weight: 600;
    font-size: 7vw;
    text-transform: uppercase;

}
#hero5 h2 {
    font-weight: 600;
    font-size: 13vh;
    text-transform: uppercase;
    border-bottom: 0.7vw solid white;
    padding-bottom: 0.5vw;
    transition: all ease 0.3s;

}
#hero5 h2:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.7vw solid transparent;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 16vh;
    background: #151515 ;
}
#video-cont{
    height: 70vh;
    width: 70vw;
    position: relative;
    left: 30%;
    /* background-image: url(&quot;https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg&quot;); */

}
#video-cont img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
}
#video-cont video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-cursur{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    background-color: #FFA63D;
    top: -13%;
    left: 60%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background: aqua;
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background: aqua;
    position: relative;
}
#page4-cont{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}
#page4-cont h1{
    font-size: 7vw;
    text-transform: uppercase;
}
#page4-cont .underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 5vw 0;
}
#page4-cont>p{
    font-size: 2vw;
    width: 45%;
    font-weight: 600;
    margin-bottom: 4vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 48%;
}
#page4-flex p{
    font-size: 1vw;
    font-weight: 500;
    width: 20%;
    margin-left: 2vw;
}
#page4-blue{
    background-color: #3F7DF4 ;
    width: 45%;
    padding: 4vw 2vw;
    position: relative;
    margin-top: -30vh;
    margin-left: 24vw;
}
.blue-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.447);
}
.blue-elem h4{
    font-size: 1.5vw;
    font-weight: 400;
}
.blue-elem p{
    width: 50%;

}
#page5 {
    min-height: 100vh;
    width: 100%;

}
