@font-face {
    font-family: plain light;
    src: url(plain-light-webfont.woff);
}
@font-face {
    font-family: silk;
    src: url(silkserif-lightitalic-webfont.woff);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: plain light;
}
html, body{
    height: 100%;
    width: 100%;
}
#csr {
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    border: 1px solid white;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background: #030303;
    z-index: 999;
    padding: 25vh 25vh;
}
.line{
    height: fit-content;
    /* background: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#line-part1 h5 , #line-part1 h6 {
    font-family: silk;
    font-size: 3vw;
    font-weight: 100;
}
#line-part1 h5 {
    text-align: right;
    width: 4.5vw;
}
.line h1{
    font-size: 13vh;
    text-transform: uppercase;
    font-weight: 550;
}
.line h2{
    opacity: 0;
    font-size: 12vh;
    font-weight: 550;
    text-transform: uppercase;
    
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: plain light;
        -webkit-text-stroke: 1px white ;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: plain light;
        -webkit-text-stroke: 1px white ;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
/* #0B0B0B */
#main{
    position: relative;
    background: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background: #151515;
}
#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.4vw 8.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-weight: 500;
    font-size: 1vw;
}
.hero{
    margin-left: 28%;
    width: 49%;
    height: fit-content;
    overflow: hidden;
    line-height: 7vw;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
.hero:nth-child(2){
    margin-top: 8.5vw;
}

.hero h1{
    font-weight: 600;
    font-size: 7vw;
    text-transform: uppercase;

}
.hero h2 {
    font-weight: 600;
    font-size: 7vw;
    text-transform: uppercase;

}
.hero h2:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 500;
}