*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background: #030303;
    z-index: 999;
    padding: 25vh 25vh;
}
.line{
    height: fit-content;
    /* background: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#line-part1 h5 , #line-part1 h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vw;
    font-weight: 100;
}
#line-part1 h5 {
    text-align: right;
    width: 4.5vw;
}
.line h1{
    font-size: 13vh;
    text-transform: uppercase;
    font-weight: 550;
}
.line h2{
    opacity: 0;
    font-size: 12vh;
    font-weight: 550;
    text-transform: uppercase;
    
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        -webkit-text-stroke: 1px white ;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        -webkit-text-stroke: 1px white ;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
/* #0B0B0B */
#main{
    position: relative;
    background: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background: #151515;
}